<html>
    {%- block head -%}
    {%- endblock -%}
    {%- block banner -%}
    {%- endblock -%}
    {%- block navbar -%}
    {%- endblock -%}
    {%- block footer -%}
    {%- endblock -%}
</html>
<script>
frappe.ready(function() {
    let redirectTo;
    const urlParams = new URLSearchParams(window.location.search);
    fetch('/api/method/blocks_connector.oauth.check_session')
    .then(res => res.json())
    .then(response => {
        if(urlParams) {
            redirectTo = urlParams.get('redirect-to');
        }
        if(response.session) {
            if(!redirectTo) redirectTo = '/desk';
            window.location.href = redirectTo;
        } else {
            if(!redirectTo) {
                window.location.href = '/api/method/blocks_connector.oauth_login';
                return;
            }
            const encodedPath = encodeURIComponent(redirectTo);
            window.location.href = '/api/method/blocks_connector.oauth_login?redirect_to=' + encodedPath;
            return;
        }
    });
});
</script>
